.hero {
  position: relative;
  min-height: 771px;
  background-image: url(../assets/images/backgrounds/randy.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.navbar {
    position: relative;
    z-index: 0;
    top: 2rem;
}

.navbar > .logo {
    position: relative;
    left: 0px;
    /*top: 1rem;*/
    cursor: pointer;  /* produces the finger-pointer icon when you hover over the logo */
    padding: 40px;
}

.links {
  position: relative;
  float: right;
  margin-top: 31px;
  width: 77%;
}

.tab {
   display: table-cell;
   position: relative;
   top: 0;
   /*height: 100px;*/
   color: #E2E2E2;
   padding-right: 14px;
}

.account {
  right: 0;
  top: 0;
  position: absolute;
  padding-right: 26px;
  padding-top: 15px;
}

div.account #sign {
  width: 104.5px;
  height: 36px;
  border-style: solid;
  border-width: 3px;
  padding: 13px 0px 0px 37.5px;
}

#log {
  padding-right: 26px;
}

.hero-content {
  text-align: center;
  position: relative;
  margin-top: 200px;
}

.CTA {
  text-align: center;
  color: white;
}

.power{
  border-style: solid;
  border-width: 7px;
  border-color: #FFA740;
  width: 750px;
  padding: 15px 0 15px 0;
  margin-left: auto;
  margin-right: auto;
}

p.detail, h3.detail{
  font-weight: 300;
  font-family: "Roboto Condensed", sans-serif;
  text-align: center;
}

div.phone{
  padding-top: 110px;
}

.button{
  width: 250px;
  height: 50px;
  font-size: 1.5rem;
}

#partners{
  text-align: center;
  color: black;
  padding-top: 35px;
  opacity: 0.6;
}

.phone {
  position: relative;
}

div.partners {
  background-color: white;
  min-height: 321px;
}

img.partners {
  display: block;
  margin: auto;
  padding-top: 25px;
}

div.coaches {
  position: relative;
  background-image: url(../assets/images/backgrounds/coaches.png);
  background-repeat: no-repeat;
  min-height: 2504px;
  background-position: center center;
  background-size: cover;
}

div.line {
  border-width: 3.5px;
  color: #FFA740;
  border-style: solid;
  width: 200px;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}

.page-title{
  text-align: center;
  padding-top: 40px;
}

.title {
  font-weight: 700;
}

h1.page-title {
  font-size: 7.5rem;
}

.subtitle{
  font-size: 4.5rem;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}

h3.title{
  color: #FFA740;
  text-align: center;
}

span {
  color: white;
  font-size: 50px;
  text-align: center;
}

.product-detail{
  padding-top: 300px;
}

div.athletes {
  position: relative;
  background-image: url(../assets/images/backgrounds/athletes.png);
  background-repeat: no-repeat;
  min-height: 2666px;
  background-position: center center;
  background-size: cover;
}

div.footer {
  min-height: 1309px;
  background-color: #333333;
}

.footer .footer-links {
  position: absolute;
  display: table-cell;
}

